<template name="admin">
	<div class="row">
		<div class="col-md-5 col-md-offset-1 col-sm-offset-0">
			<h2>Search for reservations.</h2>
			<div class="form-inline">
				<div class="form-group">
					<select class="form-control" id="show-date">
						<option>Thursday April 7th</option>
						<option>Friday April 8th</option>
						<option>Saturday April 9th</option>
					</select>
				</div>
				<div class="form-group">
					<button class="form-control btn btn-primary" id="submit">Search</button>
				</div>
			</div>
		</div>
	</div>
</template>