<template name="secret">
	<div class="row">
		<div class="col-md-5 col-md-offset-1 col-sm-offset-0">
			<h2>
				Next Act Presents: <a href="http://nextact.mit.edu/current">The Little Mermaid</a><br/>
				<small>Directed by Abra Shen '16</small>
			</h2>
			<p><i>Tickets are free!</i></p>
			<div class="form-group">
				<label for="fullname">Full Name</label>
				<input type="text" class="form-control" id="fullname" placeholder="Full Name">
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" placeholder="Email">
			</div>
			<div>
				<p>We do not accept reservaions for Friday's show; we reserve all seats for walk-ins.</p>
				<p>NOTE: You may reserve a maximum of 2 tickets total, including your own!</p>
			</div>
			<div class="row">
				<div class="col-md-4 form-group">
					<label for="prefrosh-tickets">How many tickets for prefrosh?</label>
					<input type="number" class="form-control" id="prefrosh-tickets">
				</div>
				<div class="col-md-4 form-group">
					<label for="mit-tickets">How many MIT community tickets?</label>
					<input type="number" class="form-control" id="mit-tickets">
				</div>
				<div class="col-md-4 form-group">
					<label for="other-tickets">How many non-MIT affiliate tickets?</label>
					<input type="number" class="form-control" id="other-tickets">
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary text-center" id="submit">Request this Reservation</button>
			</div>
		</div>
	</div>
</template>