<template name="header">
  <div class="row">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="col-sm-12">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'tickets'}}">NEXT ACT AUDITION SIGNUP</a>
      </div>
    </nav>
  </div>
</template>